# Core functionality - changes here should be rare!
/src/app.py                   @dhruvht612
/src/backend/database.py      @dhruvht612
/src/backend/routers/auth.py  @dhruvht612

# The frontend will need refactored soon to be more object oriented.
/src/static/   @dhruvht612

